name: ruby_runtime
description: Embedded mruby runtime plugin for Flutter (Android/iOS).
version: 0.0.1
homepage:

environment:
  sdk: ^3.11.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.ruby_runtime
        pluginClass: MrubyRuntimePlugin
      ios:
        pluginClass: MrubyRuntimePlugin
      macos:
        pluginClass: RubyRuntimeMacosPlugin
